body {
  background: #4653df;
}
.forecast {
  font-family: "PT Serif", serif;
  background: white;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}

.serach-value {
  color: #000000;
  width: 75%;
  padding: 20px;
  margin: 5px;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
}

.search-button {
  color: #ffffff;
  padding: 20px;
  background-color: #4653df;
  border: 1px solid #4653df;
  border-radius: 10px;
  cursor: pointer;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.current-weather {
  font-size: 40px;
}

.current-value {
  font-size: 80px;
  font-weight: bold;
}

.current-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

main {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: smaller;
}

.weather-details p u {
  font-weight: bold;
}

.current-date {
  font-weight: bold;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 0 0 0;
}

.forecast-temparature {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.forecast-temparature-max {
  font-weight: bold;
  padding: 0 10px;
}

.forecast-temparature-min {
  padding: 0 10px;
}
